.footer {
	background: var(--black, #1D1D1D);
}
.section_in {
}
.footer_main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4.1rem 0;
	@include bp(480px) {
			flex-direction: column;
	}
}
.footer_left {
}
.footer_policy {
	a {
		color: $white;
	}
	@include bp(480px) {
		margin-bottom: 2rem;	
	}
}
.footer_right {
	display: flex;
	align-items: center;
}
.footer_copyright {
	color: $white;
	display: flex;
	align-items: center;
	margin-right: 3rem;
}
.icon {
}
.icon-copyright {
	margin-right: .5rem;
}
.footer_arkada {
}