.header {
}
.section_in {
}
.header_main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 7rem;
}
.header_logo {
	margin-right: 15.6rem;
}
.header_menu {
	ul {
		display: flex;
		align-items: center;
	}
	li {
		&:not(:last-child) {
			margin-right: 6rem;
		}
	}
	a {
		font-size: 2.4rem;
		font-family: $font_3;
		color: $white;
		@include accent-link;
	}
}
.burger_trigger {
}
.trigger {
}