header.header 
	.section_in 
		.header_main
			.header_logo 
				a(href="#")
					img(src="i/logo.png", alt="")
			.header_menu 
				ul 
					li 
						a(href="#" class="white") УСЛУГИ И ЦЕНЫ
					li 
						a(href="#" class="white") О НАС  
					li 
						a(href="#" class="white") КАК МЫ РАБОТАЕМ
					li 
						a(href="#" class="white") КОНТАКТЫ 					
			.burger_trigger.trigger(data-target="menu")
				span
				span
				span